DJANGO_SETTINGS_MODULE=core.settings.development
SECRET_KEY=change-me-must-match-across-all-services
DEBUG=True

POSTGRES_DB=professionals_db
POSTGRES_USER=mindbridge
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_URL=redis://localhost:6379/0
REDIS_CACHE_URL=redis://localhost:6379/2
REDIS_EVENT_BUS_URL=redis://localhost:6379/3

INTERNAL_SERVICE_TOKEN=change-me-must-match-across-services
AUTH_SERVICE_INTERNAL_URL=http://auth-service:8001

SITE_URL=http://localhost:3000
